.manager-mentor {
     max-width: 100%;

     .head-table {
          position: sticky;
          top: 60px;
          z-index: 10;
          .search-input {
               // width: 300px;
          }
     }
}