.mentor-infor {
     .mentor-infor-block {
          padding: 20px 0;

          .avatar-block {
               margin: 0 auto;

               .img {
                    border-radius: 10px;
                    max-width: 440px;
                    aspect-ratio: 1;
                    object-fit: cover;
               }
          }

          .info-block {
               padding-left: 50px;

               .name {
                    font-size: 30px;
                    font-weight: 600;
               }

               .semester {
                    margin: 10px 0;
                    font-size: 17px;

                    b {
                         font-weight: 500;
                    }
               }

               .rating-block {
                    display: flex;
                    align-items: center;
                    gap: 10px;
               }

               .skill-block {
                    margin-top: 15px;
                    // min-height: 150px;
               }

               .description {
                    position: relative;
                    margin-top: 20px;
                    font-size: 18px;
                    line-height: 1.5;
                    text-align: justify;
                    opacity: 85%;
                    min-height: 40px;
                    max-height: 85px;
                    text-align: justify;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
               }

               .read-more {
                    display: none;
                    text-align: center;
                    font-size: 1.5rem;
                    margin-top: 5px;
                    opacity: 70%;

                    &.show {
                         display: block;
                    }
               }

               .btn-block {
                    height: 80px;
                    display: flex;
                    align-items: center;
                    gap: 20px;
               }
          }
     }
}