@import "../../../Styles/variables";

.manager-student {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 2rem;

    .manager-student-head {
      display: flex;
      justify-content: left;
      align-items: start;
      width: 100%;

      h1 {
        margin: 0 2.5rem 1.5rem 2.5rem;
        border: 1px solid $border;
        border-radius: 10px;
        font-size: 2rem;
        padding: 1rem;
        font-weight: 600;
        text-shadow: 3px 4px 10px rgba(0, 0, 0, 0.1);
      }
    }

    .manager-student-content {
      width: 100%;
      border: 1px solid $border;
      border-radius: 20px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      overflow: hidden;

      .avatar-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .ant-image-mask {
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          .preview-mask {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
          }
        }

        &:hover {
          .ant-image-mask {
            border-radius: 50% !important;
          }
        }
      }

      .ant-table-cell {
        border-bottom: 1px solid $border;
      }
    }
  }
}

.ant-table-cell-row-hover {
  &:hover {
    .ant-image-mask {
      border-radius: 50% !important;
    }
  }
}
// Media queries for responsive design
@media (max-width: 575px) {
  .avatar-image {
    width: 40px !important;
    height: 40px !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .avatar-image {
    width: 45px !important;
    height: 45px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .avatar-image {
    width: 50px !important;
    height: 50px !important;
  }
}

@media (min-width: 992px) {
  .avatar-image {
    width: 55px !important;
    height: 55px !important;
  }
}

// Target the Action column in the Ant Design table
.manager-student {
  .ant-table {
    height: 54rem;
    .ant-table-thead > tr > th:last-child,
    .ant-table-tbody > tr > td:last-child {
      text-align: center;

      .ant-btn {
        margin: 0 1rem;
      }
    }
  }
}
