.sidebar-admin {
     // height: 100vh;
     position: sticky;
     top: 0;

     .logo-block {
          height: 80px;
          display: flex;
          justify-content: center;
          align-items: center;

          .logo-img {
               width: 50%;
          }
     }
}