@import '../GlobalStyles/variables';

.about-us {
     background-color: rgb(241, 247, 250);
     height: 100vh;

     .member-name {
          font-size: 2rem;
          margin: 10px;
          transition: 0.3s;
          cursor: pointer;

          &:hover {
               transform: scale(1.04);
               color: rgb(38, 127, 244);
          }
     }
}