.inside-modal-book {
     .ant-tabs-nav-wrap {
          display: flex;
          justify-content: center;
          font-weight: 500;
     }

     .select-time-block {
          padding: 0 20px;
          border-radius: 8px;
          border: 1px solid rgba(128, 128, 128, 0.214);

          .available-block {}

          .custom-block {
               .title {
                    font-size: 1.8rem;
                    font-weight: 600;
                    margin: 10px 0;
               }

               .time-view {
                    opacity: 90%;

                    b {
                         font-weight: 500;
                    }
               }

               .select-block {
                    padding: 20px 0;
                    text-align: center;

                    .pick-date,
                    .pick-time {
                         margin: 0 20px;
                    }
               }
          }
     }

     .btn-block {
          margin-top: 30px;
          display: flex;
          gap: 10px;
          justify-content: flex-end;
     }
}