@import '../../../../Styles/variables';

.mentor-card {
     padding: 25px 15px 0 15px;
     border: 1px solid $border;
     border-radius: 10px;
     box-shadow: 0 0 20px 2px rgba(128, 128, 128, 0.156);
     transition: 0.3s;
     margin: 10px 0;
     position: relative;

     .infor-block {

          .avatar-block {
               text-align: center;

               .avatar-img {
                    width: 100%;
                    aspect-ratio: 1 / 1.3;
                    object-fit: cover;
                    border-radius: 10px;
               }
          }
     }

     .text-block {
          padding: 0 20px;
          height: 250px;

          .name-link {
               color: $text-primary;
          }

          .name {
               font-size: 2.4rem;
               font-weight: 700;
               overflow: hidden;
               text-overflow: ellipsis;
               white-space: nowrap;
          }

          .status-user {
               display: flex;
               position: absolute;
               top: -39px;
               right: 10px;
               border: 1px solid rgba(128, 128, 128, 0.318);
               border-radius: 15px;
               padding: 5px 7px;
               background-color: #fff;

               .icon {
                    color: $accent-primary;
               }

               .text-status {}

          }

          .rating-block {
               margin: 5px 0 20px 0;
               display: flex;
               gap: 15px;
               align-items: center;
          }

          .description {
               text-align: justify;
               line-height: 1.5;
               min-height: 100px;
               max-height: 100px;
               overflow: hidden;
               text-overflow: ellipsis;
               display: -webkit-box;
               -webkit-box-orient: vertical;
               -webkit-line-clamp: 4;
          }

          .skill-tag-block {
               .tag {
                    transition: 0.2s;
                    cursor: pointer;
                    margin-right: 5px;

                    &:hover {
                         opacity: 60%;
                    }
               }
          }

          .time-block {
               padding: 10px 0;
               .icon {

               }


          }
     }

     .btn-block {
          display: flex;
          justify-content: flex-end;
          gap: 10px;
          margin: 20px 0;
          position: relative;

          .price {
               position: absolute;
               top: -20px;
               right: 100px;
          }

          .btn {
               width: 140px;
               font-weight: 500;
               opacity: 95%;
          }
     }
}