.mentor-profile {
     .container {
          padding: 20px 0;

          .avatar-block {
               margin: 0 auto;
               .img {
                    border-radius: 10px;
                    max-width: 440px;
               }
          }

          .info-block {
               padding: 0 30px;

               .name {
                    font-size: 30px;
                    font-weight: 600;
               }

               .semester {
                    margin: 10px 0;
                    font-size: 17px;
                    b {
                         font-weight: 500;
                    }
               }

               .rating-block {
                    display: flex;
                    align-items: center;
                    gap: 10px;
               }

               .description {
                    margin: 20px 0;
                    font-size: 18px;
                    line-height: 1.5;
                    text-align: justify;
                    opacity: 85%;
                    max-height: 100px;
               }
          }
     }
}